@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    margin: 0;
}

h1{
    margin: 2rem;
}

.box{
    color: white;
    background-color: forestgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 1rem;
    border-radius: 1rem;
    transform: translateX(200%);
    transition: transform .4s ease;
}
.box:nth-of-type(even){
    transform: translateX(-200%);
}

.box h2{
    font-size: 3em;
}
.box.show{
    transform: translateX(0);
}
