@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.carousel{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
  height: 530px;
  width: 500px;
  overflow: hidden;
}

.image-container{
  display: flex;
  transform: translateX(0);
  transition: transform .5s ease-in-out;
}

img{
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.buttons-container{
  display: flex;
  justify-content: space-between;
}

.buttons-container button{
  background-color: rebeccapurple;
  color: white;
  border: none;
  padding: .5rem;
  cursor: pointer;
  width: 49.5%;
}

.buttons-container button:hover{
  opacity: .9;
}

.buttons-container button:focus{
  outline: none;
}

